name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Get short SHA
      id: gemfield
      run: echo "::set-output name=sha8::$(echo ${GITHUB_SHA} | cut -c1-8)"
    - uses: actions/checkout@v2
    - name: Build the devel image
      run: docker build . --file docker/ubuntu18.04/Dockerfile.cuda.devel --tag gemfield/deepvac:10.2-cudnn7-devel-ubuntu18.04-${{ steps.gemfield.outputs.sha8 }} --tag gemfield/deepvac:10.2-cudnn7-devel-ubuntu18.04
    - name: Login to DockerHub
      uses: docker/login-action@v1 
      with:
        username: ${{ secrets.HUB_USERNAME }}
        password: ${{ secrets.HUB_TOKEN }}
    
    - name: Push Docker image
      run: docker push gemfield/deepvac
